! $$$ Model: ZyXEL Keenetic 4G III
! $$$ Version: 2.0
! $$$ Agent: default
system
    set net.ipv4.tcp_fin_timeout 30
    set net.ipv4.tcp_keepalive_time 120
    hostname Keenetic_4G
    domainname WORKGROUP
!
ntp server 0.pool.ntp.org
ntp server 1.pool.ntp.org
ntp server 2.pool.ntp.org
ntp server 3.pool.ntp.org
!
interface FastEthernet0
    up
!
interface FastEthernet0/0
    switchport mode access
    switchport access vlan 1
    up
!
interface FastEthernet0/1
    switchport mode access
    switchport access vlan 1
    up
!
interface FastEthernet0/Vlan1
    description "Home VLAN"
    up
!
interface Bridge0
    rename Home
    description "Home network"
    include FastEthernet0/Vlan1
    ip address 192.168.1.3 255.255.255.0
    ip address dhcp
    ip dhcp client fallback static
    up
!
user admin
    tag cli
    tag http
!
service dns-proxy
service http
service telnet
service ntp-client
!
!! ndm-mod-miniupnpd (repeater)

!
!! ndm-mod-ddns (repeater)
dyndns profile _WEBADMIN
!
!! ndm-mod-usblte (repeater)
!
!
!! ndm-mod-corewireless (repeater)



interface WifiMaster0
       compatibility BGN
       up
!
interface WifiMaster0/AccessPoint0
       name AccessPoint
       description "Wi-Fi access point"
       wps
       wmm
       up
!
interface WifiMaster0/WifiStation0
       wps
       up
!
interface Bridge0
       include WifiMaster0/AccessPoint0
       include WifiMaster0/WifiStation0
!
!
!
!! ndm-mod-ppe (repeater)

!
!! ndm-mod-mws (repeater)
service mws
!
!! ndm-mod-igmp (repeater)

!
!! ndm-mod-usbdsl (repeater)


!
